html,
body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    min-height: 100vh;
}

.top {
    width: 100%;
    min-height: 60vh;
    background-image: url(https://images.unsplash.com/photo-1489183988443-b37b7e119ba6?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWd1fHx8fGVufDB8fHx8fA%3D%3D);

    background-size: cover;
    background-position: center;
}


.top .overlay {
    position: relative;
    width: 100%;
    min-height: inherit;
    background-color: rgba(0, 0, 0, 0.295);

}

.text {
    display: flex;
    justify-content: "space-between";
    align-items: center;
    position: absolute;
    width: 100%;
    padding: 0 10vh;
    color: #ffffff;
    bottom: 5%;
}

.text h1 {
    font-weight: 600;
    font-size: 4vw;
    padding: 15px;

}

.text .image {

    background-image: url(https://images.unsplash.com/photo-1537824598505-99ee03483384?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWd1fHx8fGVufDB8fHx8fA%3D%3D%);
    background-size: cover;
    align-items: center;
    background-position: "space-between";
    height: 230px;
    width: 200px;
    padding: 15px;
    margin-right: 95px;
}

.rtext {
    display: center;
    width: 25%;
    align-items: center;
    justify-content: center;
}

.rtext p {
    font-size: 12px;
}

.bottom {
    display: flex;
    width: 100%;
    min-height: 40vh;

}

.b1 {
    width: 30%;
    min-height: inherit;
    background-image: url(https://images.unsplash.com/photo-1566438480900-0609be27a4be?q=80&w=1894&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWd1fHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

.b1 h1 {
    text-align: center;
    padding: 30px;

}

.b1 p {
    color: white;
    text-align: center;
    padding: 15px;
}

.b2 {
    width: 30%;
    min-height: inherit;
    display: flex;
    flex-direction: column;
}

.b2 .up {
    width: 100%;
    min-height: 20vh;
    background-image: url(https://images.unsplash.com/photo-1560315925-4f698336e401?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWd1fHx8fGVufDB8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

.b2 .up h1 {
    text-align: center;
    padding: 30px;
}

.b2 .up p {
    color: white;
    text-align: center;
    padding: 15%;
}

.b2 .down {
    width: 100%;
    min-height: 20vh;
    background-image: url(https://images.unsplash.com/photo-1613160058184-8fc2487dbf10?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWd1fHx8fGVufDB8fA%3D%3D);
    background-size: cover;
    background-position: center;

}

.b2 .down .overlay {
    position: relative;
    width: 100%;
    min-height: 20 vh;
    background-color: grey;
}

.b3 {
    width: 40%;
    min-height: inherit;
    background-image: url(https://images.unsplash.com/photo-1586769852836-bc069f19e1b6?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWd1fHx8fGVufDB8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

.b3 .overlay {
    justify-content: right;
    position: relative;
    margin-left: 50%;
    width: 50%;
    height: 100%;
    padding: 4vh 3vh;
}

.b3 .overlay p {
    padding: 1.2vh;
}

@media(max-width:700px) {
    .rtext {
        flex-direction: column;

    }

    .b3 .overlay {
        width: 100%;
        margin-left: initial;
    }
}

@media(max-width:500px) {
    .text {
        flex-direction: column;
        align-items: flex-start;

    }

    .text h1 {
        font-size: 50vh;
    }

    .text .image {
        height: 200px;
        width: 140px;
        margin-top: 20px;
    }

    .rtext {
        flex-direction: column;
        align-items: flex-start;
    }

    .rtext p {
        margin-top: 10px;

    }

    .icon {
        margin-top: 10px;

    }

    .bottom {
        flex-direction: column;
        align-items: flex-start;
    }

    .b1 {
        width: 100%;
        min-height: 30vh;
    }

    .b2 {
        width: 100%;
        min-height: 30vh;
    }

    .b3 {
        width: 100%;
        min-height: 30vh;
        background-position: left;
    }